<h2></h2>

<section>
    <p class="card-panel custom-card" id="motto">
        Speak Dreams into Reality: Begin Your Language Journey with linguini!
    </p>
</section>
<section class="tutor-cards" id="hmpg-cards">
    {{#each tutors}}
    <div class="tutor-card">
        <h5 class="tutorName">{{user.first_name}} {{user.last_name}}</h5>
    </div>
    {{/each}}
</section>