<h1 class="form-title">Login</h1>
<div class="form-container">
    <form class="form" id="loginForm" action="/api/authorization/login" method="POST">
        <label for="email">Email</label>
        <input type="email" id="email" name="email" class="formInput">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" class="formInput">
        <div class="form-button-container">
            <button class="form-button submit-form" type="submit" id="loginBtn">Login</button>
            <button class="form-button clear-form" type="clear" id="clearBtn">Clear</button>
        </div>
        <p class="form-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Egestas maecenas pharetra convallis posuere morbi leo. Gravida dictum fusce ut placerat orci nulla pellentesque dignissim. Facilisis sed odio morbi quis commodo odio. Iaculis eu non diam phasellus vestibulum lorem sed. Viverra suspendisse potenti nullam ac tortor. Eget nunc scelerisque viverra mauris in. Posuere lorem ipsum dolor sit amet consectetur.</p>
    </form>
    <div class="form-image-container">
        <img src="/images/login.png" alt="An individual sitting at a desk studying a language." class="sign-up-image" />
    </div>
</div>
<script src="/js/login.js"></script>