<h1>Login</h1>
<form>
    <section>
        <label for="email">Email</label>
        <input type="email" id="email" class="formInput">

        <label for="password">Password</label>
        <input type="password" id="password" class="formInput">
    </section>
    <button type="submit" id="loginBtn">Login</button>
    <button type="clear" id="clearBtn">Clear</button>
</form>

<script src="./js/login.js"></script>