body {
  background-color: white;
  font-family: 'Public Sans', sans-serif;
}

/* Swiper */
.swiper {
  width: 600px;
  height: 300px;
}

/* TUTOR CARDS */
.tutor-card {
  width: 200px;
}

.tutor-avatar {
  border-radius: 50%;
  border-width: 2px;
  border-style: solid;
  border-color: white;
  width: 2rem;
  height: auto;
}